.#{$prefix}-dropdown-toggle{
  position: relative;

  .#{$prefix}-menu-list{
    top: 100%;
    margin: 8px 0;
    display: none;
    min-width: 150px;
  }

  &.open{
    .#{$prefix}-menu-list{
      display: block;
    }
  }
}
