// input 输入框

.#{$prefix}-input {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 12px;
  @at-root .#{$prefix}-input-icon {
    position: absolute;
    width: 30px;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    color: lighten($font-color-base, 55%);
    transition: all 0.3s;
    cursor: pointer;

    &::after {
      content: "";
      height: 100%;
      width: 0;
      display: inline-block;
      vertical-align: middle;
    }

    &+.#{$prefix}-input-inner {
      padding-left: 36px;
    }
    // icon 在输入框的右侧
    &.#{$prefix}-input-icon-right {
      left: auto;
      right: 0;

      &+.#{$prefix}-input-inner {
        padding-left: 12px;
        padding-right: 30px;
      }
    }
  }
  @at-root .#{$prefix}-input-inner {
    width: 100%;
    border: {
      width: 1px;
      style: solid;
      color: $border-color;
    }
    line-height: 1;
    height: 36px;
    background-color: #fff;
    background-image: none;
    display: inline-block;
    color: inherit;
    box-sizing: border-box;
    font-size: inherit;
    outline: none;
    padding: 6px 12px;

    &:active,
    &:focus {
      border-color: $border-focus-color;
    }

    // 禁用只读
    &[disabled],
    &[readOnly] {
      background-color: $disabled;

      &:focus,
      &:active{
        border-color: $border-color;
      }
    }

    @include placeholder(lighten($font-color-base, 40%));

    &.#{$prefix}-input-inner-lg {
      height: 42px;
    }

    &.#{$prefix}-input-inner-sm {
      height: 28px;
    }

    &.#{$prefix}-input-inner-xs {
      height: 22px;
    }
  }
}
// textarea 输入框
.#{$prefix}-textarea {
  @extend .#{$prefix}-input;
  @at-root .#{$prefix}-textarea-inner {
     @extend .#{$prefix}-input-inner;
    height: auto;
    line-height: $line-height-base;
  }
}
// 输入框组
.#{$prefix}-input-group {
  display: table;
  width: 100%;

  > .#{$prefix}-input {
    display: table-cell;
    vertical-align: middle;
    width: auto;
  }

  > .#{$prefix}-input-addon {
    display: table-cell;
    padding: 0 10px;
    min-width: 1px;
    white-space: nowrap;
    vertical-align: middle;
    color: lighten($font-color-base, 25%);
    background-color: $muted;
    border: {
      width: 1px;
      style: solid;
      color: $border-color;
    }
    height: 100%;

    &:first-child {
      border-right: none;
    }

    &:last-child {
      border-left: none;
    }
  }

  > .#{$prefix}-btn {
    display: table-cell;
    vertical-align: middle;
  }

  .line {
    @extend .#{$prefix}-input-addon;
    background-color: transparent;
    border: none;
    width: 28px;
  }
}
// checkbo 和 radio
@include input-check(checkbox);
@include input-check(radio);
