.#{$prefix}-input {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 12px;
  @at-root .#{$prefix}-input-icon {
    position: absolute;
    width: 30px;
    height: 100%;
    right: 0;
    top: 0;
    text-align: center;
    color: #e5e6e7;
    transition: all 0.3s;
    cursor: pointer;

    &::after {
      content: "";
      height: 100%;
      width: 0;
      display: inline-block;
      vertical-align: middle;
    }

    & + .#{$prefix}-input-inner {
      padding-right: 30px;
    }
  }
  @at-root .#{$prefix}-input-inner {
    width: 100%;
    border: {
      width: 1px;
      style: solid;
      color: $border-color;
    }
    line-height: 1;
    height: 36px;
    background-color: #fff;
    background-image: none;
    display: inline-block;
    color: inherit;
    box-sizing: border-box;
    font-size: inherit;
    outline: none;
    padding: 6px 12px;

    &:active,
    &:focus {
      border-color: $border-focus-color;
    }
    @include placeholder(lighten($font-color-base, 40%));

    &.#{$prefix}-input-inner-lg {
      height: 42px;
    }

    &.#{$prefix}-input-inner-sm {
      height: 28px;
    }

    &.#{$prefix}-input-inner-xs {
      height: 22px;
    }
  }
}

.#{$prefix}-textarea {
  @extend .#{$prefix}-input;
  @at-root .#{$prefix}-textarea-inner {
     @extend .#{$prefix}-input-inner;
    height: auto;
    line-height: $line-height-base;
  }
}

.#{$prefix}-input-group {
  display: inline-table;

  > .#{$prefix}-input {
    display: table-cell;
    vertical-align: middle;
  }

  > .#{$prefix}-input-addon {
    display: table-cell;
    padding: 0 10px;
    min-width: 1px;
    white-space: nowrap;
    vertical-align: middle;
    color: lighten($font-color-base, 15%);
    border: {
      width: 1px;
      style: solid;
      color: $border-color;
    }
    height: 100%;

    &:first-child {
      border-right: none;
    }

    &:last-child {
      border-left: none;
    }
  }

  > .#{$prefix}-btn {
    display: table-cell;
    vertical-align: middle;
  }
}
@include input-check(checkbox);
@include input-check(radio);
