body{
  color:$font-color-base;
  box-sizing: border-box;
  font-family: $font-family-cn;
  font-size: $font-size-base;
  background-color: $body-bg;
  line-height: $line-height-base;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  overflow-x: hidden;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

input, button,select,optgroup,textarea{
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul,ol{
  margin: 0;
  padding: 0;
}
