// 文本颜色
@include text-color(muted, $muted);
@include text-color(primary, $primary);
@include text-color(success, $success);
@include text-color(info, $info);
@include text-color(warning, $warning);
@include text-color(dange, $danger);
// 文本排列样式
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}
// 文版单行显示超出使用...

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

//
.help-blcok {
  margin-top: 5px;
  display: block;
  color: $muted;
}


// 清除浮动
.clearfix{
  @include clearfix();
}
