@mixin btn-color($color, $background-color, $border) {
  border: 1px solid $border;
  background-color: $background-color;
  color: $color;

  &:hover {
    background-color: lighten($background-color, 7%);
    border-color: lighten($border, 7%);
  }
}
@mixin btn-size($padding-vertical, $padding-horizontal, $font-size, $border-radius:0) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
}
@mixin btn-line($color) {
  background-color: #fff;

  &:hover {
    border-color: $color;
    color: $color;
  }
}
