extends ../layout
block content

    h2 Alert 警告
    p 用于页面中展示重要的提示信息。

    h3 基础用法
    p 基础的按钮用法。
    .demo-box
      .adm-row
        .adm-col-8
          .adm-alert.adm-alert-primary
            .adm-alert-close &times;
            .adm-alert-content
              h4.adm-alert-title
                .fa.fa-check.fa-lg.adm-alert-icon
                span 标题信息
              p.adm-alert-desc 提示的文案

          .adm-alert.adm-alert-success
            .adm-alert-close &times;
            .adm-alert-content
              h4.adm-alert-title 标题信息
              p.adm-alert-desc
                i.fa.fa-check.fa-lg.adm-alert-icon
                span 提示的文案

          .adm-alert.adm-alert-info
            .adm-alert-close &times;
            .adm-alert-content
              h4.adm-alert-title 标题信息
              p.adm-alert-desc 提示的文案

          .adm-alert.adm-alert-warning
            .adm-alert-close &times;
            .adm-alert-content
              h4.adm-alert-title 标题信息
              p.adm-alert-desc
                i.fa.fa-warning.fa-lg.adm-alert-icon
                span 提示的文案

          .adm-alert.adm-alert-danger
            .adm-alert-close &times;
            .adm-alert-content
              h4.adm-alert-title 标题信息
              p.adm-alert-desc
                i.fa.fa-warning.fa-lg.adm-alert-icon
                span 提示的文案

        .adm-col-8
          .adm-alert.adm-alert-success.adm-alert-fill
            .adm-alert-close &times;
            .adm-alert-content
              span 提示的文案

          .adm-alert.adm-alert-primary.adm-alert-fill
            .adm-alert-close &times;

            .adm-alert-content
              div.adm-alert-desc
                span.adm-alert-icon-block
                  i.fa.fa-check.fa-4x
                p.adm-alert-text 提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案

          .adm-alert.adm-alert-danger.adm-alert-fill
            .adm-alert-close &times;

            .adm-alert-content
              div.adm-alert-desc
                span.adm-alert-icon-block
                  i.fa.fa-exclamation-circle.fa-4x
                p.adm-alert-text 提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案提示的文案


        .adm-col-8
          .adm-alert.adm-alert-success.adm-alert-no-border
            .adm-alert-close &times;
            .adm-alert-content
              span.adm-alert-icon
                .fa.fa-check.fa-lg
              span 提示的文案

          .adm-alert.adm-alert-danger.adm-alert-no-border
            .adm-alert-close &times;
            .adm-alert-content
              .adm-alert-desc
                span.adm-alert-icon-block
                  i.fa.fa-exclamation-circle.fa-2x
                span.adm-alert-text 提示的文案

          .adm-alert.adm-alert-info.adm-alert-no-border
            .adm-alert-close &times;
            .adm-alert-content
              .adm-alert-desc
                span.adm-alert-icon-block
                  i.fa.fa-info.fa-2x
                span.adm-alert-text 提示的文案

          .adm-alert.adm-alert-warning.adm-alert-no-border
            .adm-alert-close &times;
            .adm-alert-content
              .adm-alert-desc
                span.adm-alert-icon-block
                  i.fa.fa-exclamation-circle.fa-2x
                span.adm-alert-text 提示的文案
