extends ../layout
block content

    h2 Input 输入框
    p 通过鼠标和键盘输入字符

    h3 基础用法
    .adm-row
      .adm-col-12
        label.adm-checkbox
          input(type="checkbox", name="a")
          span.adm-checkbox-inner
          | 上海

      .adm-col-12
        label.adm-radio
          input(type="radio", name="a")
          span.adm-radio-inner
          | 爬山

    h3 checkbox 和 radio 组
    .adm-row
      .adm-col-12
        .adm-checkbox-group
          label.adm-checkbox
            input(type="checkbox",name="a1")
            span.adm-checkbox-inner
            | 上海

          label.adm-checkbox
            input(type="checkbox", checked="checked",name="a1")
            span.adm-checkbox-inner
            | 北京
          label.adm-checkbox
            input(type="checkbox",name="a1")
            span.adm-checkbox-inner
            | 杭州

      .adm-col-12
          .adm-radio-group
            label.adm-radio
              input(type="radio", name="c1", checked="checked")
              span.adm-radio-inner
              | 爬山

            label.adm-radio
              input(type="radio", name="c1")
              span.adm-radio-inner
              | 看书

            label.adm-radio
              input(type="radio", name="c1")
              span.adm-radio-inner
              | 打篮球

    h3 禁用的checkbox 和 radio
    .adm-row
      .adm-col-12
        .adm-checkbox-group
          label.adm-checkbox
            input(type="checkbox",  disabled="disabled")
            span.adm-checkbox-inner
            | 上海

          label.adm-checkbox
            input(type="checkbox", checked="checked", disabled="disabled")
            span.adm-checkbox-inner
            | 北京
          label.adm-checkbox
            input(type="checkbox", name="a", disabled="disabled")
            span.adm-checkbox-inner
            | 杭州

      .adm-col-12
          .adm-radio-group
            label.adm-radio
              input(type="radio", name="c", checked="checked", disabled="disabled")
              span.adm-radio-inner
              | 爬山

            label.adm-radio
              input(type="radio", name="c", disabled="disabled")
              span.adm-radio-inner
              | 看书

            label.adm-radio
              input(type="radio", name="c", disabled="disabled")
              span.adm-radio-inner
              | 打篮球

    h3 按钮式checkbox和radio 组
    .adm-row
      .adm-col-12
        .adm-checkbox-group
          label.adm-checkbox-btn
            input(type="checkbox", name="a", checked)
            span.inner 杭州
          label.adm-checkbox-btn
            input(type="checkbox", name="a", checked)
            span.inner 上海
          label.adm-checkbox-btn
            input(type="checkbox", name="a")
            span.inner 北京
          label.adm-checkbox-btn
            input(type="checkbox", name="a")
            span.inner 深圳

      .adm-col-12
        .adm-radio-group
          label.adm-radio-btn
            input(type="radio", name="b")
            span.inner 杭州
          label.adm-radio-btn
            input(type="radio", name="b", checked)
            span.inner 上海
          label.adm-radio-btn
            input(type="radio", name="b")
            span.inner 北京
          label.adm-radio-btn
            input(type="radio", name="b")
            span.inner 深圳

