extends ../layout
block content

  .adm-container
    h2 Tab 标签
    p 分隔内容上有关联但属于不同类别的数据集合。

  .adm-container
    h3 基础用法
    .adm-row
      .adm-col-18
        .adm-tabs
          .adm-tabs-nav.adm-nav-cards
            ul.adm-nav
              li.adm-nav-item
                a.adm-nav-link
                  i.fa.fa-home
                  span Settings

              li.adm-nav-item.adm-nav-item-active
                a.adm-nav-link
                  i.fa.fa-bell-slash-o
                  span Contacts

              li.adm-nav-item
                a.adm-nav-link
                  i.fa.fa-plug
                  span Gateway

              li.adm-nav-item
                a.adm-nav-link
                  i.fa.fa-trash
                  span SSO

              li.adm-nav-item
                a.adm-nav-link
                  i.fa.fa-qq
                  span Billing

    .adm-row.m-t-md
      .adm-col-18
        .adm-tabs
          .adm-tabs-nav.adm-nav-cards
            div.adm-nav-active-bar
            ul.adm-nav.adm-nav-icons-block
              li.adm-nav-item
                a.adm-nav-link
                  i.fa.fa-home
                  span Settings

              li.adm-nav-item.adm-nav-item-active
                a.adm-nav-link
                  i.fa.fa-bell-slash-o
                  span Contacts

              li.adm-nav-item
                a.adm-nav-link
                  i.fa.fa-plug
                  span Gateway

              li.adm-nav-item
                a.adm-nav-link
                  i.fa.fa-trash
                  span SSO

              li.adm-nav-item
                a.adm-nav-link
                  i.fa.fa-qq
                  span Billing
