extends layout
block content
  h1= title
  p Welcome to #{title}
  
  .container.demo-layout
    .row
      .col-sm-6
        .grid-content.bg-success .col-6
      .col-sm-18
        .grid-content.bg-success .col-18

    .row
      .col-sm-12
        .grid-content.bg-primary .col-12
      .col-sm-12
        .grid-content.bg-primary .col-12