doctype html
html
  head
    title= title
    if(env == "production")
      link(rel="stylesheet" href="/stylesheets/admin-ui.style.css")
  body
    block content

    script(src="/admin-ui.js")
    script(src="/style.js")
    script(src="/reload/reload.js")