doctype html
html
  head
    title= title
    if(env == "production")
      link(rel="stylesheet" href="/stylesheets/admin-ui.style.css")
  body
    .adm-container-fluid
      .table-layout
        nav.side-menu
          ul.adm-nav
            li.active
              a(href="#")
                i.fa.fa-dashboard.text-success
                span Dashboard
                i.fa.fa-angle-down.action

              ul.adm-nav-sub
                li
                  a(href="#")
                    span Home-first
                li
                  a(href="#")
                    span Home-second

                li
                  a(href="#")
                    span Home-third

            li.active
              a(href="#")
                i.fa.fa-puzzle-piece
                span Form
                i.fa.fa-angle-right.action

              ul.adm-nav-sub
                li
                  a(href="/components/input")
                    span basic inputs
                li
                  a(href="/components/button")
                    span buttons

                li
                  a(href="/components/select")
                    span select & tags

                li
                  a(href="/components/checkbox")
                    span checkboxes & radios

                li
                  a(href="#")
                    span validation

                li
                  a(href="#")
                    span steps

                li
                  a(href="#")
                    span input-mask














        .page-content
          block content

    script(src="/admin-ui.js")
    script(src="/style.js")
    script(src="/reload/reload.js")
