doctype html
html
  head
    title= title
    if(env == "production")
      link(rel="stylesheet" href="/stylesheets/admin-ui.style.css")
  body
    .adm-container-fluid
      .adm-row
        .adm-col-sm-6
          ul.adm-nav
            li
              a(href="#")
                i.fa.fa-home
                span Home
                i.fa.fa-angle-down.action

              ul.adm-nav.adm-nav-sub
                li
                  a(href="#")
                    i.fa.fa-book
                    span Home-first
                li
                  a(href="#")
                    i.fa.fa-book
                    span Home-second

                li
                  a(href="#")
                    i.fa.fa-book
                    span Home-third

            li
              a(href="#")
                i.fa.fa-home
                span Form
                i.fa.fa-angle-down.action

              ul.adm-nav.adm-nav-sub
                li
                  a(href="#")
                    i.fa.fa-book
                    span Form-first
                li
                  a(href="#")
                    i.fa.fa-book
                    span Form-second

                li
                  a(href="#")
                    i.fa.fa-book
                    span Form-third
        .adm-col-sm-18
          block content

    script(src="/admin-ui.js")
    script(src="/style.js")
    script(src="/reload/reload.js")
