body {}

.demo-layout {
  .grid-content {
    padding: 16px 0;
    text-align: center;
    color: #fff;
    background-color: #1c84c6;
  }

  .adm-row,
  .adm-row-normal {
    margin-bottom: 20px;

    [class]:nth-child(odd) {
      .grid-content {
        background-color: lighten(#1c84c6, 10%);
      }
    }
  }
}

.demo-box{
  .adm-btn{
    margin-bottom: 8px;
  }
  .adm-btn-group{
    margin-bottom: 20px;
  }
}

.m-t-md{
  margin-top: 15px;
}
